img {
  width: 100%;
  border-radius: 12px;
  height: 214px;
  object-fit: cover;
}

body {
  background-color: #eaeff1;
  font-family: "Courier New", Courier, monospace;
}

#container {
  max-width: 300px;
  margin: 0 auto;

  margin-top: 15vh;
}

.card {
  background-color: whitesmoke;
  padding: 8px;
  border-radius: 12px;
  border: 1px solid #bacdd8;
}
.card-details {
  padding: 16px 8px 8px 8px;
}
.tag {
  padding: 4px 8px;
  border: 1px solid #e5eaed;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #788697;
}

.name {
  font-size: 24px;
  font-weight: 600;
  margin-top: 16px;
}
p {
  font-size: 14px;
  color: darkblue;
  line-height: 150%;
}

button {
  border: none;
  padding: 12px 24px;
  border-radius: 50px;
  font-weight: 600;
  color: blue;
  background-color: skyblue;
  display: block;
  margin: 0 auto;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

button:focus,
button:hover {
  background-color: blue;
  color: lightblue;
}
